Content-Type: text/html


<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>unit04</title>
        
        <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="../css/other.css" rel="stylesheet">
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <script src=../js/jQuery/dist/jquery.min.js></script>
        <script src=../js/datatables/media/js/jquery.dataTables.min.js></script>
        <!-- <link rel="stylesheet" href="bootstrap.min.css"> -->
    </head>
    <body>
      <h1 style="padding-left:5px;">Escherichia coli Assemblies</h1>

      <div class="container" id="dt_container">
        <table style="text-align:left;" id="my_datatable" class="display">
          <thead style="color: white">
            <tr>
              <th>ID</th>
              <th>Length</th>
              <th>Rest of Header</th>
              </tr>
          </thead>
          <!-- https://stackoverflow.com/questions/9198334/how-to-build-up-a-html-table-with-a-simple-for-loop-in-jinja2 -->
          <tbody>
          <tr>
            <td class="c1">gi|170079664|ref|YP_001728984.1|</td>
            <td class="c2">21</td>
            <td class="c3">thr operon leader peptide [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079665|ref|YP_001728985.1|</td>
            <td class="c2">820</td>
            <td class="c3">bifunctional aspartokinase I/homeserine dehydrogenase I [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079666|ref|YP_001728986.1|</td>
            <td class="c2">310</td>
            <td class="c3">homoserine kinase [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079667|ref|YP_001728987.1|</td>
            <td class="c2">428</td>
            <td class="c3">threonine synthase [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079668|ref|YP_001728988.1|</td>
            <td class="c2">98</td>
            <td class="c3">hypothetical protein ECDH10B_0005 [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079669|ref|YP_001728989.1|</td>
            <td class="c2">258</td>
            <td class="c3">hypothetical protein ECDH10B_0006 [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079670|ref|YP_001728990.1|</td>
            <td class="c2">476</td>
            <td class="c3">transporter [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079671|ref|YP_001728991.1|</td>
            <td class="c2">317</td>
            <td class="c3">transaldolase B [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079672|ref|YP_001728992.1|</td>
            <td class="c2">195</td>
            <td class="c3">molybdenum cofactor biosynthesis protein MogA [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079673|ref|YP_001728993.1|</td>
            <td class="c2">188</td>
            <td class="c3">hypothetical protein ECDH10B_0010 [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079674|ref|YP_001728994.1|</td>
            <td class="c2">237</td>
            <td class="c3">hypothetical protein ECDH10B_0011 [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079675|ref|YP_001728995.1|</td>
            <td class="c2">161</td>
            <td class="c3">hypothetical protein ECDH10B_0012 [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079676|ref|YP_001728996.1|</td>
            <td class="c2">134</td>
            <td class="c3">hypothetical protein ECDH10B_0013 [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079677|ref|YP_001728997.1|</td>
            <td class="c2">638</td>
            <td class="c3">molecular chaperone DnaK [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079678|ref|YP_001728998.1|</td>
            <td class="c2">376</td>
            <td class="c3">chaperone protein DnaJ [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079679|ref|YP_001728999.1|</td>
            <td class="c2">370</td>
            <td class="c3">IS186/IS421 transposase [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079680|ref|YP_001729000.1|</td>
            <td class="c2">69</td>
            <td class="c3">regulatory protein for HokC, overlaps CDS of hokC [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079681|ref|YP_001729001.1|</td>
            <td class="c2">50</td>
            <td class="c3">toxic membrane protein, small [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079682|ref|YP_001729002.1|</td>
            <td class="c2">388</td>
            <td class="c3">pH-dependent sodium/proton antiporter [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079683|ref|YP_001729003.1|</td>
            <td class="c2">301</td>
            <td class="c3">transcriptional activator NhaR [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079684|ref|YP_001729004.1|</td>
            <td class="c2">167</td>
            <td class="c3">IS1 transposase InsAB' [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079685|ref|YP_001729005.1|</td>
            <td class="c2">91</td>
            <td class="c3">IS1 repressor protein InsA [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079686|ref|YP_001729006.1|</td>
            <td class="c2">87</td>
            <td class="c3">30S ribosomal protein S20 [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079687|ref|YP_001729007.1|</td>
            <td class="c2">72</td>
            <td class="c3">hypothetical protein ECDH10B_0025 [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079688|ref|YP_001729008.1|</td>
            <td class="c2">313</td>
            <td class="c3">bifunctional riboflavin kinase/FMN adenylyltransferase [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079689|ref|YP_001729009.1|</td>
            <td class="c2">938</td>
            <td class="c3">isoleucyl-tRNA synthetase [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079690|ref|YP_001729010.1|</td>
            <td class="c2">164</td>
            <td class="c3">lipoprotein signal peptidase [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079691|ref|YP_001729011.1|</td>
            <td class="c2">149</td>
            <td class="c3">FKBP-type peptidyl-prolyl cis-trans isomerase (rotamase) [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079692|ref|YP_001729012.1|</td>
            <td class="c2">316</td>
            <td class="c3">4-hydroxy-3-methylbut-2-enyl diphosphate reductase [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079693|ref|YP_001729013.1|</td>
            <td class="c2">304</td>
            <td class="c3">ribonucleoside hydrolase RihC [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079694|ref|YP_001729014.1|</td>
            <td class="c2">273</td>
            <td class="c3">dihydrodipicolinate reductase [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079695|ref|YP_001729015.1|</td>
            <td class="c2">382</td>
            <td class="c3">carbamoyl phosphate synthase small subunit [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079696|ref|YP_001729016.1|</td>
            <td class="c2">1073</td>
            <td class="c3">carbamoyl phosphate synthase large subunit [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079697|ref|YP_001729017.1|</td>
            <td class="c2">131</td>
            <td class="c3">DNA-binding transcriptional activator CaiF [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079698|ref|YP_001729018.1|</td>
            <td class="c2">196</td>
            <td class="c3">carnitine operon protein CaiE [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|228937031|ref|YP_001729019.2|</td>
            <td class="c2">261</td>
            <td class="c3">carnitinyl-CoA dehydratase [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079700|ref|YP_001729020.1|</td>
            <td class="c2">522</td>
            <td class="c3">putative crotonobetaine/carnitine-CoA ligase [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079701|ref|YP_001729021.1|</td>
            <td class="c2">405</td>
            <td class="c3">crotonobetainyl-CoA:carnitine CoA-transferase [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079702|ref|YP_001729022.1|</td>
            <td class="c2">380</td>
            <td class="c3">crotonobetainyl-CoA dehydrogenase [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079703|ref|YP_001729023.1|</td>
            <td class="c2">504</td>
            <td class="c3">L-carnitine/gamma-butyrobetaine antiporter [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079704|ref|YP_001729024.1|</td>
            <td class="c2">256</td>
            <td class="c3">putative electron transfer flavoprotein FixA [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          <tr>
            <td class="c1">gi|170079705|ref|YP_001729025.1|</td>
            <td class="c2">313</td>
            <td class="c3">putative electron transfer flavoprotein FixB [Escherichia coli str. K-12 substr. DH10B]</td>
          </tr>
          </tbody>
          </table>
        <br></br>
        <br></br>
        <p></p>
      </div>
      <script type="text/javascript" class="init">
        $(document).ready(function() {
            // $('#my_datatable').DataTable( {
            //   "pageLength": 20,
            //   "order": []
            // });
        } );
      </script> 
    </body>
</html>
