
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Project</title>
      
        <link href="https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.css" rel="stylesheet">
        <!-- <link href="../css/other.css" rel="stylesheet"> -->
        <link href="css/other.css" rel="stylesheet">
        <link href="css/other2.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- <link href="css/project.css" rel="stylesheet"> -->
        
        <link href="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" rel="stylesheet">
     
    
        <script src="http://cdn.datatables.net/1.10.25/js/jquery.js" type="text/javascript"></script>
        <script type="text/javascript" src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.9/js/dataTables.fixedHeader.min.js"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/plug-ins/1.10.25/dataRender/ellipsis.js"></script>
       
        <script src="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.11/js/dataTables.checkboxes.min.js"></script>
        
    </head>
    <body>
      <h1 style="padding-left:5px;">Protein blast to drug leads</h1>

      
      <div class="container" id="dt_container">
        <h4 style="padding-left:25px;">Results:</h4> 
  
        <table style="text-align:left;" id="example" class="display" cellspacing="0" width="100%">
        <!-- <table id="example" class="display" style="width:100%"> -->
          <thead style="color: white;">
            <tr>
              <th class="dt-checkboxes-select-all sorting_disabled" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 20px;" data-col="0" aria-label>
                <input type=checkbox>
              </th>
              {% for column in final_cols -%}
              <th class="search">{{ column }}</th>
              {% endfor -%}
            </tr>
          </thead>
          <tbody>
          {% for row in final_df -%}
            <tr>
              {% set rowloop = loop %}
              <td>{{ rowloop.index }}</td>
              {% for column in final_cols -%}
                {% if column == "subject_accver" %}
                <td class="row-value">{{ row[column] }}</td>
                {% else %}
                <td>{{ row[column] }}</td>
                {% endif %}
              {% endfor -%}
            </tr>
            {% endfor -%}
          </tbody>
        </table>
        <br>
        <br>
        <button class="ui-button ui-widget ui-corner-all" id="btn-table-rows">Get Drug Bank .sdf files</button>

        <br>
        <br>
        <p></p>
      </div>
      <script type="text/javascript" class="init">
        $(document).ready(function() {
          $('#example thead tr').clone(true).appendTo( '#example thead' );
          $('#example thead tr:eq(1) th').each( function (i) {
              if ( i === 0 ) {
                console.log("so silly I cannot use th:gt(0) here !!!!! uggggggh\n" +" https://datatables.net/forums/discussion/26816/how-can-i-exclude-certain-colunmns-from-search-when-using-individual-column-searching")
              } else {
              var title = $(this).text();
              $(this).html( '<input style="height:12px; " type="text" placeholder="Search '+title+'" />' );
      
              $( 'input', this ).on( 'keyup change', function () {
                  if ( table.column(i).search() !== this.value ) {
                      table
                          .column(i)
                          .search( this.value )
                          .draw();
                  }
              } );
              }
          });
  
        var table = $('#example')
				.DataTable( {
					responsive: true,
					columnDefs: [
            { targets: 0, checkboxes: true},
            { targets: [16,17], render: $.fn.dataTable.render.ellipsis( 10, true ) },
            { targets: [4], render: $.fn.dataTable.render.ellipsis( 60, true ) }
					],
          order: [],
          // because of Known Limitations at https://www.gyrocode.com/projects/jquery-datatables-checkboxes/
          // must make vertical scrolling instead of page length to allow select-all on "all pages"
          scrollY: "500px",
          paging: false,
          scrollX: true,
          orderCellsTop: true,
          fixedHeader: true,

				} );

        
        
        $('#frm-example').on('submit', function(e){
          var form = this;
          var rows_selected = table.column(0).checkboxes.selected();

          // Iterate over all selected checkboxes
          $.each(rows_selected, function(index, rowId){
            // Create a hidden element 
            $(form).append(
                $('<input>')
                    .attr('type', 'hidden')
                    .attr('name', 'id[]')
                    .val(rowId)
            );
          });
          // Prevent actual form submission
          e.preventDefault();
        }); 
        
        $('#btn-table-rows').click(function (event) {
          var values = [];
          $('table input.dt-checkboxes:checked').each(function () {
            var rowValue = $(this).closest('tr').find('td.row-value').text();
            values.push(rowValue)
          });
          var json = JSON.stringify(values);
          // alert(json);
          $.ajax({
            type: "POST",
            url: "http://localhost/cgi-bin/drugbank_sdfs.cgi",
            datatype: "json",
            data: {j: json , foo: 'foo'},
            success: function (response) {
                console.log(response);
                // window.location.href = "http://localhost/cgi-bin/drugbank_sdfs.cgi";
            }
          })
        });
          
      } );
      </script>
    </body>
</html>