<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Save tar</title>
    
        
        <link href="https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.css" rel="stylesheet">
        <link href="css/other.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" rel="stylesheet">
        <script src="http://cdn.datatables.net/1.10.25/js/jquery.js" type="text/javascript"></script>

  
    </head>
    <body>
      <h1 style="padding-left:5px;">Protein blast to drug leads</h1>
        
      <div id="db_container">
        <form class="form" id='final_download' name='final_download' method='post' action=''>  
          <br>
          <br>
          <div >
              <label style="color:yellow">Name to save master:</label>
              <input style="display:block; width: 250px;" id="file_name" type="text" name="file_name" placeholder="my_mass_spec_results.tar.gz">
          </div>
          <br>
          <div>
            <input id="download" type="submit" value="Download">
          </div>
          
        </form>
        <br></br>
        <br></br>
        <div>
          <!-- <h4 style="padding-left:5px; color: yellow;">Summary</h4> -->
          <div>
            <!-- Need to be able tp pass summary_json from drugbank_sdfs.cgi to download.cgi -->
            {{ summary }}
          </div>
        </div>
      </div>
      
    </body>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#final_download').submit(function (event) {
          if ($('#file_name').val().length < 1) {
            var value = "final.tar.gz"
            console.log("true")
          } else {
            var value = $('#file_name').val()
          }
          // Check for REALLY wrong file names such as this/ismy.really.crummy.path/today.blah
          // # get "basename"
          value = value.split("/")[value.split("/").length-1]
          if (value.endsWith("tar.gz")) {
            //do dothing
          } else {
            value = value.split(".")[0].concat(".tar.gz")
          }
           
          event.preventDefault();
          $.ajax({
              type: "POST",
              // for BFX3 server
              url: 'create_tar.cgi',
              datatype: "json",
              data: {path: value},
              success: function (response) {
                  console.log(response);
                  window.location.href = value;
              },
              error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    alert("Status: " + textStatus); alert("Error: " + errorThrown); 
              }
            })
        });
      });
    </script>
</html>