<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Project</title>
    
        
        <link href="https://cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="js/jQuery-Multiple-Select-Plugin-For-Bootstrap-Bootstrap-Multiselect/docs/css/bootstrap-4.5.2.min.css" type="text/css"> -->
        <link href="css/other.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" rel="stylesheet">
     
    
        <script src="http://cdn.datatables.net/1.10.25/js/jquery.js" type="text/javascript"></script>
        <script type="text/javascript" src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.9/js/dataTables.fixedHeader.min.js"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/plug-ins/1.10.25/dataRender/ellipsis.js"></script>
        
 
        
    </head>
    <body>
      <h1 style="padding-left:5px;">Protein blast to drug leads</h1>
        
      <div id="db_container">
        <form class="form" id='final_download' name='final_download' method='post' action=''>  
          <br>
          <br>

          <div style="float:left;">
              <label style="margin-right: 150px; color:yellow">Name to save master:</label>
              <input style="display:block" id="file_name" type="text" name="uniprot_id" placeholder="my_mass_spec_results">
          </div>

          <div style="float:left;">
            <label style="margin-right: 30px; color:yellow">Folder Compression Type:</label>
            <select id="file_type" name="file_type" style="height:30px">
              <option value="tar.gz">tar.gz</option>
              <option value="zip">zip folder</option>
            </select>
          </div>
          <br></br>
       
          <div>
            <button id="Download" type="submit">Download!</button>
          </div>

        </form>
        <div>
          <a href="../../../tmp/bwiley4/final.tar.gz" download="final.tar.gz">Download</a>
        </div>
      </div>
      

       
        <!-- <div>
          This is my rows {{ rows }}
        </div>
        <div>
          This is my rows_type {{ rows_type }}
        </div>
        <div>
          This is my final_folder {{ final_folder }}
        </div> -->
        


    </body>
    <script type="text/javascript">
      $(document).ready(function() {
        // $('#Download').click(function(e) {
        //   e.preventDefault();  //stop the browser from following
      });
    
    </script>
</html>