<!DOCTYPE html>
<html lang="en">
    <head>
        <title>unit3</title>
        <!-- https://stackoverflow.com/questions/17935819/why-is-this-html5-document-invalid -->
        <meta charset="UTF-8">
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" href="additional_format.css">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
        <script src=node_modules/jquery/dist/jquery.min.js></script>
    </head>
    <body>
        <!--HTML header tag starts here-->
        <header>
            <div class="row">
                <h1 id="hello_world">Hello World</h1>
            </div>
        </header>
        <div class="container-fluid">
            <div class=row>
                <div class="row">
                    <div class="col-2">
                        <button onclick="hide()" type=button class="btn btn-danger" id="hide_button">Hide Header</button>
                    </div>
                    <div class="col-2">
                        <button onclick="show()" type=button class="btn btn-success" id="show_button">Show Header</button>
                    </div>
                </div> 
            </div> 
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                <div class=col-2>
                    <button class="target btn btn-primary">jQuery HIDE</button>
                </div>
                <div class=col-4>
                    <h1 id="hello_world2">Hello World</h1>
                </div>
            </div>
            <div class="row">
                <div class=col-2>
                    <button class="target2 btn btn-primary">jQuery HIDE Simpler</button>
                </div>
                <div class=col-4>
                    <h1 id="hello_world3">Hello World</h1>
                </div>
            </div>
        </div>
    
        <script>
            $(document).ready(function(){
                /* Ugh Finally
                https://stackoverflow.com/questions/40142205/change-text-back-and-forth-on-button-click
                */
                $('.target').each(function() {
                $(this).data('original', $(this).text());
                }).on('click', function() {
                    $(this).toggleClass('clicked').text(function(_, txt) {
                        var org = $(this).data('original');
                        if (txt === org) {
                            document.getElementById("hello_world2").style.visibility = 'hidden'
                            return 'jQuery SHOW'
                        } else {
                            document.getElementById("hello_world2").style.visibility = 'visible'
                            return org
                        }
                    });
                });

                /**
                 * Even simpler without onClick or toggleClass
                 * https://stackoverflow.com/questions/13652835/button-text-toggle-in-jquery
                 * https://api.jquery.com/text/
                 */
                $(".target2").click(function () {
                    $(this).text(function(i, txt){
                        if (txt === 'jQuery HIDE Simpler') {
                            document.getElementById("hello_world3").style.visibility = 'hidden'
                            return 'jQuery SHOW Simpler'
                        } else {
                            document.getElementById("hello_world3").style.visibility = 'visible'
                            return 'jQuery HIDE Simpler'
                        }
                    })
                });
            });

            
            function hide(){
                if (document.getElementById("hide_button").onclick) {
                    document.getElementById("hello_world").style.visibility = 'hidden'
                    document.getElementById("show_button").style.display = 'block'
                    document.getElementById("hide_button").style.display = 'none'
            
                }
            }
            function show(){
                if (document.getElementById("show_button").onclick) {
                    document.getElementById("hello_world").style.visibility = 'visible'
                    document.getElementById("hide_button").style.display = 'block'
                    document.getElementById("show_button").style.display = 'none'
                }
            }
            window.onload = function() {
                if (document.getElementById("hello_world").style.display = 'block') {
                    document.getElementById("show_button").style.display = 'none'
                } 
            }
        </script>
    </body>
</html>        